.PhotoList ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.PhotoList ul li {
	width: 220px;
	height: 165px;
	overflow: hidden;
	margin-bottom: 15px;
}

.PhotoList ul img {
	width: 100%;
	transform: scale(1.25);
	transition: transform 1.25s;
}

.PhotoList li:hover img {
	transform: scale(1.65);
}

@media only screen and (max-width: 767px) {
	.PhotoList li {
		margin: auto;
	}
}
